<?xml version="1.0" encoding="utf-8"?>
<!--
  Authors:
      Jesse Chen <contact@jessechen.net>
  
  Copyright (c) 2011 Jesse Chen.
  
  Berkeley Campus Shuttle is free software: you can redistribute it and/or
  modify it under the terms of the GNU General Public License as published by 
  the Free Software Foundation, either version 3 of the License, or (at your
  option) any later version.
  
  Berkeley Campus Shuttle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
  Public License for more details.
  
  You should have received a copy of the GNU General Public License along with
  Berkeley Campus Shuttle.  If not, see http://www.gnu.org/licenses/.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.jessechen.berkeleycampusshuttle"
      android:versionCode="1"
      android:versionName="1.0">
      
      <uses-sdk
      	android:minSdkVersion="7"
      	android:targetSdkVersion="5" />
      	
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".ShuttleMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
<activity android:name=".AllStops"></activity>
<activity android:name=".AllRoutes"></activity>
<activity android:name=".Stop"></activity>
<activity android:name=".Route"></activity>
<activity android:name=".myfavorites.MyFavorites"></activity>
<activity android:name=".myfavorites.FileHandler"></activity>

</application>
</manifest> 
